*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
}
body{
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #F5F5F5;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0px  80px;
    align-items: center;
    padding: 10px 0px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: -20px;    
}
.logo-pic{
    height: 80px;
    width: 100px;
    cursor: pointer;
}
.logo a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* margin-left: -10px; */
}
.link{
    display: flex;
}
.link a{
    text-decoration: none;
    color: #9c9b9b;
    margin-left: 10px;
}
.link a:focus{
    color: #A76E43;
}
/* Start Here Mobile Menu Section */
.mobile-icon{
    display: none;
    flex-direction: column;
    gap: 5px;
    position: relative;
    padding: 10px;
}
.mobile-ic{
    height: 6px;
    width: 30px;
    border-radius: 7px;
    background-color: black;
}
.mobile-link{
    position: absolute;
    display: none;
    flex-direction: column;
    white-space: nowrap;
    top: 40px;
    left: -80px;
}
.mobile-link a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: #9c9b9b;
}
.mobile-link a:focus{
    color: #A76E43;
}
.mobile-icon:hover .mobile-link{
    display: flex;
}
@media (max-width:920px){
    .mobile-icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .nav{
        margin: 0px 0px;
    }
}
@media (min-width:921px){
    .mobile-icon{
        display: none;
    }
    .link{
        display: flex;
    }
    .nav{
        margin: 0px 80px;
    }
}
/* End Here Navigation Bar */
.work{
    margin: 50px 0px;
}
.work h1{
    font-size: 2rem;
    text-align: center;
}
.work p{
    text-align: center;
    color: #9c9b9b;
}
.main-parent{
    display: flex;
    flex-direction: column;

}
.parent{
    margin: 0px 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.child{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   
}
.p2{
    display: none;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
 
}
.child:hover .p2{
    display: flex;
}
.child:hover{
    opacity: 0.7;
}

.child img{
    height: 50vh;
    width: 27vw;
}
@media (max-width:800px){
    
    .parent{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .child{
        display: flex;
        flex-direction: column;
        
    }
    .child img{
        width: 100vw;
    }
}
/* End Here Work section */
.first-footer{
    background-color: black;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-footer h3{
    color: white;
    font-size: 1.8rem;
    text-align: center; 
    max-width: 40vw;
    transition: all 0.5s ease-in-out;
    padding: 0px 0px;
}
.first-footer h3 span{
    font-size: 2.5rem;
}
.first-footer a{
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    color: black;
    margin-top: 40px;
}
.first-footer a:hover{
    color: #A76E43;
}
.social{
    display: flex;
    margin: 80px ;
    justify-content: space-between;
}
.social-cls a i{
    color: black;
}
@media (max-width:800px){
    .first-footer h3{
    max-width: 100vw;
    }
}
